/* ========== MONOKAI THEME ========== */
* {
  font-family: "Segoe UI", monospace;
  font-size: 14px;
  font-weight: bold;
}

.yasb-bar {
  background-color: rgba(39, 40, 34, 1);
  padding: 0;
  height: 32px;
}

/* ========== CLAVIER VISUEL ========== */
.osk-btn .label {
  color: #66d9ef;
  background: #1e1f1c;
  padding: 2 2px;
  border-radius: 3px;
}

.osk-btn .label:hover {
  background: #a6e22e;
  color: #272822;
}

/* ========== WORKSPACES ========== */
.komorebi-workspaces {
  background: transparent;
  padding: 0 6px;
  display: flex;
  align-items: center;
}

.komorebi-workspaces .ws-btn {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 28px;
  min-height: 28px;
  max-height: 28px;
  margin: 0 2px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  
  color: #75715e;
  background: transparent;
  font-size: 14px;
  border-radius: 3px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.komorebi-workspaces .ws-btn:hover {
  background: #a6e22e;
  color: #272822;
}

.komorebi-workspaces .ws-btn.populated {
  color: #f8f8f2;
}

.komorebi-workspaces .ws-btn.active {
  background: #f92672;
  color: #f8f8f2;

}

/* ========== LAYOUTS ========== */
.komorebi-layouts {
  background: transparent;
  padding: 0 6px;
  display: flex;
  align-items: center;
}

/* ========== ACTIVE WINDOW ========== */
.active-window-widget .widget-container {
  padding: 0;
}

.active-window-widget .label {
  color: #a6e22e;
  padding-left: 8px;
}

.active-window-widget .icon {
  padding-left: 8px;
}

/* ========== CLOCK ========== */
.clock-widget .label {
  color: #f8f8f2;
  padding: 0 6px;
}

/* ========== CPU ========== */
.cpu-widget .label {
  color: #66d9ef;
  padding: 0 6px;
}

.cpu-widget .label span {
  color: #66d9ef;
}

/* ========== MEMORY ========== */
.memory-widget .label {
  color: #f92672;
  padding: 0 6px;
}

.memory-widget .label span {
  color: #f92672;
}

/* ========== BATTERY ========== */
.battery-widget .label {
  color: #fd971f;
  padding: 0 6px;
}

/* ========== VOLUME ========== */
.volume-widget .label {
  color: #a6e22e;
  padding: 0 6px;
}

.volume-widget .label span {
  color: #a6e22e;
}
.icon {
  font-family: "JetBrainsMono NF";
  font-weight: normal;
  margin-right: 4px;
}
